{%extends "registration/base.html"%}
{% load static %}
{% load bootstrap4 %}


{% block content %}
<div class="container card-body" >
        <div class="row">
          <!-- <div class=""> -->
<!--
            <div class="col-2"><br>

            </div> -->
            <div class="col top-margin card-body" style="">
                <h1 style="text-align: center" ><span style="color:green">Club-Manag</span>ement system.</h1>
                {% if form.errors %}
                    <p>Some information may be incorrect</p>
                {% endif %}
                <div class="signup-fields">
                    <div class="section">
                        <div class="mylogo">
                        </div>
                        <div class="form-section" id="register">
                            <form method="post">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <div class="form-group">
                                    <input type="submit" class="btn btn-success btn-sm" value="Sign up">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="section">
                        <p class="log forgot">Have an account? <a href="/accounts/login/">Log in</a></p>
                    </div>
                </div>
            </div>
            <div class="col-2">

            </div>
        <!-- </div> -->
    </div>


{% endblock%}
